# --- Visual Studio especíﬁco ---
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
out/
*.user
*.suo
*.sln.doccache
*.vssscc
*.vspscc

# --- Archivos de compilación y temporales ---
*.obj
*.sbr
*.ilk
*.pdb
*.idb
*.ispl
*.tlog
*.lastbuildstate
*.recipe
*.log
*.tlb
*.tlh
*.bak
*.cache
*.pch
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# --- Ejecutables y Librerías ---
*.exe
*.dll
*.lib
*.so
*.dylib
*.out
*.app

# --- Otros ---
.DS_Store
Thumbs.db